/* src/App.css */

body {
  background-color: black;
  margin: 0;
  overflow: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding-top: 60px;
}

.top-center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  text-align: center;
}

.top-center-container h1 {
  margin: 0;
  font-size: 1.8em;
  color: black;
}

.top-center-container label {
  margin-top: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="number"] {
  margin-top: 5px;
  padding: 3px 5px;
  font-size: 0.9em;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
  text-align: center;
}

.luck-buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.deck-container {
  position: fixed;
  left: 20px; /* Adjusted to move further left */
  top: 50%; /* Vertically centered */
  transform: translateY(-50%);
  cursor: pointer;
}

.deck-image {
  width: 90px;
  height: auto;
  transition: transform 0.2s ease;
}

.deck-image:hover {
  transform: scale(1.1);
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 030px;
  margin-top: 30px;
  flex-wrap: wrap;
  width: 100%;
  min-height: 300px;
}

.card {
  width: 100px;
  height: 150px;
  transition: opacity 1s;
}

.card.flip {
  opacity: 1;
}

.fade-away {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease-out;
}
