h2 {
  color: black;
}

.table-container {
  padding: 20px;
  max-height: 80vh;
  /* Set a max height to allow scrolling */
  overflow-y: scroll;
  /* Enable vertical scrolling */
  text-align: left;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer */
}

.table-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Webkit browsers */
}

.arts-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff; /* Set table background to white */
  color: #000; /* Set text color to black */
}

.arts-table th,
.arts-table td {
  border: 1px solid #ccc; /* Light grey border */
  padding: 8px;
}

.arts-table th {
  background-color: #f2f2f2; /* Light grey background for headers */
  color: #000; /* Black text for headers */
}

.arts-table tr:nth-child(even) {
  background-color: #f9f9f9; /* Slightly darker light grey for alternating rows */
}

.arts-table tr:nth-child(odd) {
  background-color: #ffffff; /* White for alternating rows */
}

.art-tier-buttons span {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-weight: bold;
}

.tier-text {
  transition: color 0.3s;
}

.tier-text.black {
  color: black;
}

.tier-text.white {
  color: gray;
}

.tier-text.green {
  color: green;
}

.tier-text.blue {
  color: blue;
}

.tier-text.purple {
  color: purple;
}

.tier-text.orange {
  color: orange;
}

.tier-text.red {
  color: red;
}

.active-tier {
  text-decoration: underline;
  /* Highlight active tier */
}

.art-levels {
  padding: 10px;
  background-color: #f2f2f2; /* Light grey background */
  color: #000; /* Black text */
  line-height: 1.5;
}
