#h2 {
  color: black;
}
.table-container {
    padding: 20px;
    max-height: 80vh; /* Set a max height to allow scrolling */
    overflow-y: scroll; /* Enable vertical scrolling */
    text-align: left;
  }
  
  .arts-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #2c2c2c;
    color: #fff;
  }
  
  .arts-table th, .arts-table td {
    border: 1px solid #2c2c2c;
    padding: 8px;
  }
  
  .arts-table th {
    background-color: #333;
    color: white;
  }
  
  .art-tier-buttons span {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .tier-text {
    transition: color 0.3s;
  }
  
  .tier-text.black { color: black; }
  .tier-text.white { color: white; }
  .tier-text.green { color: green; }
  .tier-text.blue { color: blue; }
  .tier-text.purple { color: purple; }
  .tier-text.orange { color: orange; }
  .tier-text.red { color: red; }
  
  .active-tier {
    text-decoration: underline; /* Highlight active tier */
  }
  
  .art-levels {
    padding: 10px;
    background-color: #2c2c2c;
    color: #fff;
    line-height: 1.5;
  }
  