h2 {
  color: black;
}

/* Base styles for the table container */
.table-container {
  padding: 20px;
  max-height: 80vh;
  overflow-y: scroll;
  text-align: left;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer */
  color: black;
}

.table-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Webkit browsers */
}

/* Table styles */
.arts-table {
  width: 100%;
  border-collapse: collapse;
}

.arts-table th,
.arts-table td {
  border: 1px solid #0b0707; /* Light grey border */
  padding: 8px;
  text-align: left;
}

.arts-table th {
  background-color: #d3d3c4; /* Light grey for headers */
  color: black;
}

/* Skill-specific row colors */
.row-1 {
  background-color: #d1a969; /* Beige */
}

.row-2 {
  background-color: #f4c6b2; /* Light cyan */
}

.row-3 {
  background-color: #fffef2; /* Light pink */
}

.row-4 {
  background-color: #a4b9c4; /* Honeydew */
}

/* Hover effect for skill rows */
.skill-row:hover {
  background-color: #d3d3d3; /* Light grey for hover */
  transition: background-color 0.3s ease;
}

/* Tier button styles */
.art-tier-buttons span {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-weight: bold;
}

/* Color-coded tiers */
.tier-text.black {
  color: black;
}

.tier-text.white {
  color: gray;
}

.tier-text.green {
  color: green;
}

.tier-text.blue {
  color: blue;
}

.tier-text.purple {
  color: purple;
}

.tier-text.orange {
  color: orange;
}

.tier-text.red {
  color: red;
}

/* Active tier highlight */
.active-tier {
  text-decoration: underline;
}

/* Art levels section */
.art-levels {
  padding: 10px;
  background-color: #f2f2f2; /* Light grey background */
  color: black;
  line-height: 1.5;
  font-size: 0.9rem;
}
